body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @font-face {
  font-family: "Poppins";
  src: url("../src/assets/font_family/pxiEyp8kv8JHgFVrJJbecmNE.woff2")
      format("woff2"),
    url("../src/assets/font_family/pxiEyp8kv8JHgFVrJJfecg.woff2")
      format("woff2"),
    url("../src/assets/font_family/pxiEyp8kv8JHgFVrJJnecmNE.woff2")
      format("woff2");
} */
